.socialBoxes {
    max-width: 1160px;
  margin: 80px auto;
  display: flex;
  justify-content: space-between;
  gap: 103px;
}


.contactBox {
    display: flex;
align-items: center;
gap: 24px;
margin: 40px 0;
} 
.emailPossition {
    margin-top: 8px;
    font-weight: 400;
}
.imgCyrcle {
    width: 82px;
    height: 82px;
    border-radius: 90px;
    border: 1px solid rgba(255, 255, 255, 0.055);
background: linear-gradient(114deg, rgba(255, 255, 255, 0.08) 10.15%, rgba(255, 255, 255, 0.01) 89.36%);
backdrop-filter: blur(20px);
    padding: 24px;
}
.socialImgs {
display: flex;
gap: 20px;
}
.socialInfo {
    margin-bottom: 30px;
}

.socialMainBox {
    border-radius: 30px;
    padding: 30px;
    width: 100%;
}

.socialBox {
    border-radius: 10px;
background: linear-gradient(94deg, rgba(255, 255, 255, 0.03) 1.71%, rgba(220, 223, 234, 0.01) 104.45%, rgba(255, 255, 255, 0.01) 104.45%);
padding: 21px;
color: rgba(188, 188, 188, 0.50) ;
font-size: 14px;
letter-spacing: -0.14px;
margin: 16px 0;
}

.socialButton{
    background-color: #323232;
    cursor: pointer;
    font-size: 14px;
    color: white;
    border-radius: 16px;
    font-weight: 600;
    border: none;
    padding: 21px;
    width: 100%;
}
.socialButton:hover{
    background-color: #6e6e6e;
}


.boxQuoteTitle {
    margin-bottom: 24px;
}

.contactButton {
width: 100px;
padding: 50px;
}

.socialBoxes form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.socialBoxes form input{
    border: none;
    outline:  none;
    border-radius: 15px;
    padding: 20px 40px;
}
